In [2]:
import pandas as pd

with open("data/taxationbydistrict.csv", "r", encoding="ISO-8859-1", errors="replace") as f:
    for i in range(60):
        print(f.readline())

Tabelle: 73111-01-01-5

Lohn- und Einkommensteuerpflichtige, Gesamtbetrag der;;;;;

Einkünfte, Lohn- und Einkommensteuer - Jahressumme -;;;;;

regionale Tiefe: Gemeinden;;;;;

Lohn- und Einkommensteuerstatistik;;;;;

;;;Lohn- und Einkommensteuerpflichtige;Gesamtbetrag der Einkünfte;Lohn- und Einkommensteuer

;;;Anzahl;Tsd. EUR;Tsd. EUR

2021;DG;Deutschland;43047968;1973096213;356590445

2021;01;  Schleswig-Holstein;1504251;68414654;12015784

2021;01001;      Flensburg, kreisfreie Stadt;47912;1685788;279166

2021;01002;      Kiel, kreisfreie Stadt;128953;4993667;837687

2021;01003;      Lübeck, kreisfreie Stadt, Hansestadt;111892;4408658;749146

2021;01004;      Neumünster, kreisfreie Stadt;39264;1424641;210817

2021;01051;      Dithmarschen, Kreis;66507;2862576;469757

2021;01051001;        Albersdorf;1745;65950;9754

2021;01051002;        Arkebek;111;4773;701

2021;01051003;        Averlak;295;11470;1527

2021;01051004;        Bargenstedt;441;20821;3472

2021;01051005;        Barkenholm;93;3630;486

2021;01051006;        Barlt;397;16758;2437

2021;01051008;        Bergewöhrden;20;1111;203

2021;01051010;        Brickeln;111;4969;814

2021;01051011;        Brunsbüttel, Stadt;6099;276730;48550

2021;01051012;        Buchholz;509;19216;2610

2021;01051013;        Büsum;2480;105989;17752

2021;01051014;        Büsumer Deichhausen;164;9053;1739

2021;01051015;        Bunsoh;392;16994;2761

2021;01051016;        Burg (Dithmarschen);2000;79544;11988

2021;01051017;        Busenwurth;156;6324;962

2021;01051019;        Dellstedt;362;13906;2016

2021;01051020;        Delve;373;14829;2133

2021;01051021;        Diekhusen-Fahrstedt;336;17248;2790

2021;01051022;        Dingen;319;14254;2232

2021;01051023;        Dörpling;314;12625;1971

2021;01051024;        Eddelak;690;29815;4800

2021;01051026;        Eggstedt;407;16104;2219

2021;01051027;        Elpersbüttel;468;24788;4386

2021;01051028;        Epenwöhrden;383;16524;2695

2021;01051030;        Fedderingen;146;7143;1334

2021;01051032;        Frestedt;183;8982;1589

2021;01051033;        Friedrichsgabekoog;32;3727;887

2021;01051034;        Friedrichskoog;1233;52131;8116

2021;01051035;        Gaushorn;78;3098;461

2021;01051036;        Glüsing;60;3953;836

2021;01051037;        Großenrade;239;10486;1736

2021;01051038;        Groven;42;2302;449

2021;01051039;        Gudendorf;203;10165;1906

2021;01051040;        Hägen;-;-;-

2021;01051043;        Hedwigenkoog;119;7434;1667

2021;01051044;        Heide, Stadt;10891;422640;70326

2021;01051045;        Hellschen-Heringsand-Unterschaar;79;7310;1756

2021;01051046;        Helse;403;20038;3257

2021;01051047;        Hemme;243;14026;2624

2021;01051048;        Hemmingstedt;1449;57064;8114

2021;01051049;        Hennstedt;1026;42020;7021

2021;01051050;        Hillgroven;36;1969;327

2021;01051051;        Hochdonn;543;20691;2799

2021;01051052;        Hövede;29;2074;417

2021;01051053;        Hollingstedt;149;5820;911

2021;01051054;        Immenstedt;60;2622;397

In [22]:
import pandas as pd

df = pd.read_csv(
    "data/taxationbydistrict.csv",
    sep=";",
    encoding="ISO-8859-1",
    skiprows=7,
)

df.columns = [
    "Year",
    "Region_Code",
    "Region_Name",
    "Taxpayer_Count",
    "Total_Income_KEuros",
    "Total_Taxes_KEuros",
]


print(df.head())

   Year  Region_Code                                 Region_Name  \
0  2021          1.0                          Schleswig-Holstein
1  2021       1001.0                 Flensburg, kreisfreie Stadt
2  2021       1002.0                      Kiel, kreisfreie Stadt
3  2021       1003.0        Lübeck, kreisfreie Stadt, Hansestadt
4  2021       1004.0                Neumünster, kreisfreie Stadt

  Taxpayer_Count Total_Income_KEuros Total_Taxes_KEuros
0        1504251            68414654           12015784
1          47912             1685788             279166
2         128953             4993667             837687
3         111892             4408658             749146
4          39264             1424641             210817

In [23]:
df.columns

Index(['Year', 'Region_Code', 'Region_Name', 'Taxpayer_Count',
       'Total_Income_KEuros', 'Total_Taxes_KEuros'],
      dtype='object')

In [24]:
for col in df.columns:
    print(col)

Year
Region_Code
Region_Name
Taxpayer_Count
Total_Income_KEuros
Total_Taxes_KEuros

In [27]:
#df["Tax_per_Taxpayer"] = (
    #df["Total_Taxes_KEuros"] * 1000 / df["Taxpayer_Count"]
#).round(2)
# this doesn't work - because they're supposed to be numerics...

In [28]:
df[["Taxpayer_Count", "Total_Taxes_KEuros"]].dtypes
#See they are both objects..

Taxpayer_Count        object
Total_Taxes_KEuros    object
dtype: object

In [29]:
cols = ["Taxpayer_Count", "Total_Taxes_KEuros"]
df[cols] = df[cols].apply(pd.to_numeric, errors="coerce")

In [30]:
df[["Taxpayer_Count", "Total_Taxes_KEuros"]].dtypes
# Now they are both floats...

Taxpayer_Count        float64
Total_Taxes_KEuros    float64
dtype: object

In [33]:
df["Tax_per_Taxpayer"] = (
    df['Total_Taxes_KEuros'] * 1000 / df["Taxpayer_Count"]
).round(2)

In [34]:
for col in df.columns:
    print(col)

Year
Region_Code
Region_Name
Taxpayer_Count
Total_Income_KEuros
Total_Taxes_KEuros
Tax_per_Taxpayer

In [35]:
print(df.head)

<bound method NDFrame.head of                                                     Year  Region_Code  \
0                                                   2021          1.0
1                                                   2021       1001.0
2                                                   2021       1002.0
3                                                   2021       1003.0
4                                                   2021       1004.0
...                                                  ...          ...
13922                                               2021   16077056.0
13923                                         __________          NaN
13924  Der dargestellte Gebietsstand entspricht dem Z...          NaN
13925  © Statistische Ämter des Bundes und der Länder...          NaN
13926                       Stand: 12.11.2025 / 13:43:35          NaN

                                      Region_Name  Taxpayer_Count  \
0                              Schleswig-Holstein       1504251.0
1                     Flensburg, kreisfreie Stadt         47912.0
2                          Kiel, kreisfreie Stadt        128953.0
3            Lübeck, kreisfreie Stadt, Hansestadt        111892.0
4                    Neumünster, kreisfreie Stadt         39264.0
...                                           ...             ...
13922                                       Saara             NaN
13923                                         NaN             NaN
13924                                         NaN             NaN
13925                                         NaN             NaN
13926                                         NaN             NaN

      Total_Income_KEuros  Total_Taxes_KEuros  Tax_per_Taxpayer
0                68414654          12015784.0           7987.89
1                 1685788            279166.0           5826.64
2                 4993667            837687.0           6496.06
3                 4408658            749146.0           6695.26
4                 1424641            210817.0           5369.22
...                   ...                 ...               ...
13922                   -                 NaN               NaN
13923                 NaN                 NaN               NaN
13924                 NaN                 NaN               NaN
13925                 NaN                 NaN               NaN
13926                 NaN                 NaN               NaN

[13927 rows x 7 columns]>

In [36]:
clean_tax_dataframe = df

In [38]:
print(clean_tax_dataframe.columns)

Index(['Year', 'Region_Code', 'Region_Name', 'Taxpayer_Count',
       'Total_Income_KEuros', 'Total_Taxes_KEuros', 'Tax_per_Taxpayer'],
      dtype='object')

In [ ]:
clean_tax_dataframe

In [ ]:
import zipfile, os, json, glob